html,
body {
  height: 100%;
  background: white;
  color: black;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Asap', 'Roboto', sans-serif;
}

:global(#app) {
  height: 100%;
}

[class^='sg__'] {
  font-family: 'Asap', 'Roboto', sans-serif;
}

.app {
  height: 100%;
}
